*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Vazirmatn',sans-serif;
    background:linear-gradient(135deg,#0d47a1,#1976d2,#42a5f5);
    min-height:100vh;
    padding:30px 15px;
}

/* قسمت جستجو */

.search{
    max-width:500px;
    margin:0 auto 25px;
    display:flex;
    gap:10px;
}

.search input{
    flex:1;
    height:50px;
    border:none;
    border-radius:15px;
    padding:0 18px;
    font-size:16px;
    outline:none;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.search button{
    border:none;
    background:#1565c0;
    color:#fff;
    border-radius:15px;
    padding:0 30px;
    font-size:16px;
    font-family:'Vazirmatn';
    cursor:pointer;
    transition:.3s;
}

.search button:hover{
    background:#0d47a1;
    transform:translateY(-2px);
}

/* کارت */

.card{
    max-width:430px;
    margin:auto;
    background:#fff;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
    animation:show .6s;
}

@keyframes show{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}

/* هدر */

.header{
    background:linear-gradient(135deg,#1565c0,#42a5f5);
    color:#fff;
    text-align:center;
    padding:30px 20px;
}

.header h1{
    font-size:24px;
    font-weight:700;
    margin-bottom:10px;
}

.header h2{
    font-size:18px;
    font-weight:400;
}

/* عکس */

.photo{
    display:flex;
    justify-content:center;
    margin-top:-45px;
}

.photo img{
    width:170px;
    height:170px;
    border-radius:50%;
    border:6px solid #fff;
    object-fit:cover;
    background:#eee;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

/* اطلاعات */

.info{
    padding:25px;
}

.info div{
    background:#f7f9fc;
    margin-bottom:12px;
    padding:14px 18px;
    border-radius:12px;
    font-size:16px;
    border-right:5px solid #1976d2;
}

.info strong{
    color:#1565c0;
}

/* QR */

#qrcode{
    display:flex;
    justify-content:center;
    padding:20px;
}

#qrcode img{
    border:8px solid #fff;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.2);
}

/* فوتر */

.footer{
    background:#1565c0;
    color:#fff;
    text
